# Entornos virtuales
.venv/
env/
venv/

# Archivos de Python
__pycache__/
*.pyc

# Archivos de configuración de Jupyter
.ipynb_checkpoints/

# Datos
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Salidas de reportes
reports/figures/*
!reports/figures/.gitkeep

# Otros
.DS_Store
*.log
.vscode/
*.swp
*.swo
.idea/
*.egg-info/
dist/
build/
__pycache__/
*.py[cod]
*$py.class
*.so
.coverage
htmlcov/
.pytest_cache/
.tox/
.nox/
.hypothesis/
.coverage.*
